/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #222;
  color: white;
  overflow: hidden; /* Ẩn thanh cuộn toàn cục */
}

/* Container chính trong App.jsx */
.app-wrapper {
  width: 100vw;
  height: 100vh;
}